@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/table.css" asp-append-version="true" />
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<div  class ="top-container">   
     <div class ="main-container">   
    @if (SignInManager.IsSignedIn(User))
    { 
        <p> <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a></p>

       <h1><a asp-page="/Landing">Open App</a></h1>
    
    } 
    else
    {
        <h1>
            <a  asp-area="Identity" asp-page="/Account/Login">Login</a>
        </h1>
    }
    </div>
</div>