@page
@model BankApp.Pages.ViewCustomerModel
@{
}
 <link rel="stylesheet" href="~/css/customer.css" asp-append-version="true" />
  <script src="https://kit.fontawesome.com/607a5ea1bc.js" crossorigin="anonymous"></script> 
  <body>
       <div class = "top-container">
     <div class = "over-container">
        <div class = "customer">
            <div class = "customer-icon">             
                  <i class="fas fa-user"></i>
            </div>
            <div class = "customer-data">
               <table class = "table-customer">
                   <tr>
                     <th>Name</th> 
                    <td>Elena Bordinghaus</td>
                </tr> 
                <tr>
                    <th>Gender</th> 
                   <td>Elena Bordinghaus</td>
               </tr> 
               <tr>
                <th>Age</th> 
               <td>Elena Bordinghaus</td>
           </tr> 
           <tr>
            <th>National number</th> 
           <td>Elena Bordinghaus</td>
            </tr> 
            <tr>
                <th>Name</th> 
                <td>Elena Bordinghaus</td>
            </tr> 
            <tr>
                <th>Gender</th> 
               <td>Elena Bordinghaus</td>
           </tr> 
           <tr>
            <th>Age</th> 
           <td>Elena Bordinghaus</td>
       </tr> 
       <tr>
        <th>National number</th> 
       <td>Elena Bordinghaus</td>
        </tr> 
        <tr>
            <th>Name</th> 
            <td>Elena Bordinghaus</td>
        </tr> 
               </table>
            </div>
            <div class = "edit">
                <h1>SE</h1>
                <button class = "btn-edit">Edit</button>
            </div>
        </div>

        <div class = "balance-box">
            <h2>Total balance</h2>
            <h1>126 396 SEK</h1>
        </div>
    </div>

    <div class = "lower-container">
        <h2>Customer Accounts</h2>

        <div class = "btn-box">
            <button class = "btn-bank">Pay</button>
             <button class = "btn-bank">Deposit</button>
              <button class = "btn-bank">Withdraw</button>
               <button class = "btn-bank">New account</button>
        </div>

        <div class = "info_bar">
             <table class = "table accounts">
                  <tr>
                      <th>Account name</th>
                      <th>Account number</th>
                      <th>Balance</th>   
                      <th></th>
                  </tr>
                  foreach (var item in Model.Items)
                  {
                      <tr>
                          <td> Name</td>
                          <td> Number</td>
                          <td> item.Balance</td>
                          <td>
                              <a asp-page="/ViewAccount" asp-route-id="Id"><i class="fas fa-caret-right"></i></a>
                          </td>
                      </tr>
                 
              </table>    
        </div>
    </div>
</div>
  </body>